<div class="device-infolabls">
    
    
        <form role="form">
            <div class="row">
                <div class="col-sm-4">
                    <label>Model Name <sup>*</sup></label>
                    <input type="text" class="form-control" placeholder="Nokia 6s" value="Nokia 6s">
                </div>
                <div class="col-sm-4">
                    <label>Model Number <sup>*</sup></label>
                    <input type="text" class="form-control" placeholder="Nokia 6s" value="Nokia 6s">
                </div>
                <div class="col-sm-4">
                    <label>Manufacturer name <sup>*</sup></label>
                    <input type="text" class="form-control" placeholder="Nokia" value="Nokia">
                </div>
            </div>

            <div class="row">
                    <div class="col-sm-4">
                        <label>Category <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="Mobile" value="Mobile">
                    </div>
                    <div class="col-sm-4">
                        <label>Sub Category</label>
                        <input type="text" class="form-control" placeholder="Smart Phone" value="Smart Phone">
                    </div>
                    <div class="col-sm-4">
                        <label>Last Updated</label>
                        <input type="text" class="form-control" placeholder="Last Updated" disabled value="24-11-2018 12:34 PM">
                    </div>
                </div>
    
    
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Wi-Fi Capability</mat-panel-title>
                            <mat-panel-description>Collapse</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                                <div class="col-sm-4">
                                    <label>Wi-Fi Standard Supported</label>
                                    <mat-form-field>
                                        <mat-select placeholder="Favorite food">
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{ food.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <label>Minimum Required Band</label>
                                    <input type="text" class="form-control" placeholder="Enter the value">
                                </div>
                                <div class="col-sm-4">
                                    <label>Frequency Band <sup>*</sup></label>
                                    <mat-form-field>
                                        <mat-select placeholder="Favorite food">
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{ food.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Max Channel Supported</label>
                                    <mat-form-field>
                                        <mat-select placeholder="Favorite food">
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{ food.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <label>Streams Supported</label>
                                    <mat-form-field>
                                        <mat-select placeholder="Favorite food">
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{ food.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                
                                </div>
                                <div class="col-sm-4">
                                    <label>Beam Forming</label>
                                    <input type="text" class="form-control" placeholder="Enter the value">
                                </div>
                            </div>                         
                    </mat-expansion-panel>
                </mat-accordion>
    

            <!-- <div class="collap-hd">
                <p class="clearfix" (click)="showHide3 = !showHide3"><span class="pull-left">Wi-Fi Capability</span> <span class="pull-right">- Collapse</span></p>
            </div> -->
            <!-- <div class="collap-cont" [hidden]="showHide3">
            <div class="row">
                <div class="col-sm-4">
                    <label>Wi-Fi Standard Supported</label>
                    <mat-form-field>
                        <mat-select placeholder="Favorite food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <label>Minimum Required Band</label>
                    <input type="text" class="form-control" placeholder="Enter the value">
                </div>
                <div class="col-sm-4">
                    <label>Frequency Band <sup>*</sup></label>
                    <mat-form-field>
                        <mat-select placeholder="Favorite food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Max Channel Supported</label>
                    <mat-form-field>
                        <mat-select placeholder="Favorite food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <label>Streams Supported</label>
                    <mat-form-field>
                        <mat-select placeholder="Favorite food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-sm-4">
                    <label>Beam Forming</label>
                    <input type="text" class="form-control" placeholder="Enter the value">
                </div>
            </div>            
        </div> -->
            <div class="sepcollap-space">
                    <mat-checkbox>Wi-Fi Direct Supported</mat-checkbox>
                <!-- <div class="checkbox">
                    <input id="wifi0" type="checkbox">
                    <label for="wifi0" class="fontn graylc"> Wi-Fi Direct Supported</label>
                </div> -->
            </div>


            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Display</mat-panel-title>
                        <mat-panel-description>Collapse</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Resolution</label>
                            <mat-form-field>
                                <mat-select placeholder="Favorite food">
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{ food.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>                
                        <div class="col-sm-4">
                            <label>Display Device <sup>*</sup></label>
                            <mat-form-field>
                                <mat-select placeholder="Favorite food">
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{ food.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>                
                    </div>                       
                </mat-expansion-panel>
            </mat-accordion>            

            <!-- <div class="collap-hd">
                <p class="clearfix" (click)="showHide = !showHide"><span class="pull-left">Display</span> <span class="pull-right">- Collapse</span></p>
            </div> -->
            <!-- <div class="collap-cont" [hidden]="showHide">
            <div class="row">
                <div class="col-sm-4">
                    <label>Resolution</label>
                    <mat-form-field>
                        <mat-select placeholder="Favorite food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>                

                <div class="col-sm-4">
                    <label>Display Device <sup>*</sup></label>
                    <mat-form-field>
                        <mat-select placeholder="Favorite food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>                
                            
            </div>
        </div> -->

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Security</mat-panel-title>
                    <mat-panel-description>Collapse</mat-panel-description>
                </mat-expansion-panel-header>
                
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Favorite food">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{ food.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                    </div> 
                            
                    <div class="col-sm-4">
                        <mat-checkbox>WPS Push Button</mat-checkbox>
                    </div>
                    <div class="col-sm-4">
                        <mat-checkbox>WPA Personal</mat-checkbox>                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <mat-checkbox>WPA Enterprise</mat-checkbox>
                    </div>
                    <div class="col-sm-4">
                        <mat-checkbox>WPA2</mat-checkbox>
                    </div>
                </div>                                         
                                        
            </mat-expansion-panel>
        </mat-accordion>

            <!-- <div class="collap-hd">
                    <p class="clearfix" (click)="showHide1 = !showHide1"><span class="pull-left">Security</span> <span class="pull-right">- Collapse</span></p>
                </div> -->
                <!-- <div class="collap-cont" [hidden]="showHide1">                
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-select placeholder="Favorite food">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{ food.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                    </div> 
                            
                    <div class="col-sm-4">
                        <mat-checkbox>WPS Push Button</mat-checkbox>
                        <div class="checkbox">
                            <input id="chck1" type="checkbox">
                            <label for="chck1" class="fontn graylc"> WPS Push Button</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <mat-checkbox>WPA Personal</mat-checkbox>                        
                        <div class="checkbox">
                            <input id="chck2" type="checkbox">
                            <label for="chck2" class="fontn graylc"> WPA Personal</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <mat-checkbox>WPA Enterprise</mat-checkbox>
                        <div class="checkbox">
                            <input id="chck3" type="checkbox">
                            <label for="chck3" class="fontn graylc"> WPA Enterprise</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <mat-checkbox>WPA2</mat-checkbox>
                        <div class="checkbox">
                            <input id="chck4" type="checkbox">
                            <label for="chck4" class="fontn graylc"> WPA2</label>
                        </div>
                    </div>
                </div>
            </div> -->


            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Other</mat-panel-title>
                        <mat-panel-description>Collapse</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-checkbox>Battery Powerd</mat-checkbox>                        
                        </div>
                        <div class="col-sm-4">
                            <label>Operating System</label>
                            <input type="text" class="form-control" placeholder="Android" value="Android">
                        </div>
                    </div>                       
                </mat-expansion-panel>
            </mat-accordion>            

                <!-- <div class="collap-hd">
                    <p class="clearfix" (click)="showHide2 = !showHide2"><span class="pull-left">Other</span> <span class="pull-right">- Collapse</span></p>
                </div>
                <div class="collap-cont" [hidden]="showHide2">
                <div class="row">
                    <div class="col-sm-4">
                        <mat-checkbox>Battery Powerd</mat-checkbox>                        
                    </div>
                    <div class="col-sm-4">
                        <label>Operating System</label>
                        <input type="text" class="form-control" placeholder="Android" value="Android">
                    </div>
        
                </div>
                </div> -->
                
        </form>
      </div>