<h2 mat-dialog-title>
    {{title}}</h2>
<mat-dialog-content>
    <p>{{ message }}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="actionrow row">
        <div class="col-sm-6">
            <button id="cancel" type="button" *ngIf="button3 !== 'info'" class="mat-raised-button dialogbtn" (click)="dialogRef.close()">Cancel</button>
        </div>
        <div class="col-sm-6">
            <button id="buttonmsg" type="button" class="mat-raised-button dialogbtn" (click)="dialogRef.close(true)">{{buttonlabel}}</button>
        </div>
    </div>
</mat-dialog-actions>