<mat-card [ngClass]="'custommatcard'" [ngStyle]="{'font-size':'16px','height':'335px'}">
    <mat-card-header [ngClass]="'custommatheader'">
        <mat-card-title [ngClass]="'custommattitle'" [ngStyle]="{'font-size':'16px'}">User Registration</mat-card-title>
    </mat-card-header>
    <form [formGroup]="rForm">
        <mat-card-content [ngStyle]="{'font-size':'16px','height':'170px'}">
            <div [ngClass]="'row'">
                <div [ngClass]="'col-sm-6'">
                    <mat-form-field>
                        <input type="text" id="username" matInput formControlName="username" placeholder="UserName">
                        <mat-hint>
                            Special characters not allowed.
                        </mat-hint>
                        <mat-error *ngIf="rForm.get('username').pending">
                            checking for availability..
                        </mat-error>
                        <mat-error *ngIf="(rForm.get('username').touched || (rForm.get('username').dirty ) && (rForm.get('username').errors ))">

                            <span *ngIf="rForm.get('username').errors?.required">
                                Required
                            </span>
                            <span *ngIf="(rForm.get('username').errors?.pattern)">
                                Please enter valid name
                            </span>
                            <span *ngIf="(rForm.get('username').errors?.shouldBeEqual)">
                                Name should be unique!
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div [ngClass]="'col-sm-6'">
                    <mat-form-field>
                        <mat-select placeholder="User Group" formControlName="usergroup" id="usergroup">
                            <mat-option *ngFor="let group of grouplist$ | async as usergroup" [value]="group.groupname">
                                <span id={{group.groupname}}>{{group.groupname}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div [ngClass]="'row'">
                <div [ngClass]="'col-sm-6'">
                    <mat-form-field>
                        <input id="password" type="password" matInput formControlName="password" placeholder="Password">
                        <mat-hint>Should have atleast one upper and lowercase letter, one number or one special characters with length
                            between 8 and 15 characters.</mat-hint>
                        
                        <mat-error *ngIf="(rForm.get('password').touched || (rForm.get('password').dirty ) && (rForm.get('password').errors ))">
                            <span *ngIf="rForm.get('password').errors?.required">
                                Required
                            </span>
                            <span *ngIf="(rForm.get('password').errors?.pattern)">
                                Please enter valid password
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div [ngClass]="'col-sm-6'">
                    <mat-form-field>
                        <input id="confirmpassword" type="password" matInput formControlName="confirmpassword" placeholder="Confirm Password">
                        
                        <mat-error *ngIf="(rForm.get('confirmpassword').touched || (rForm.get('confirmpassword').dirty ) && (rForm.get('confirmpassword').invalid ))">
                            <span *ngIf="rForm.get('confirmpassword').errors?.required">
                                Required
                            </span>
                            <span *ngIf="rForm.get('confirmpassword').errors?.compare">
                                Password does not match
                            </span>

                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions [ngClass]="'matcustioncardaction'">
            <div [ngClass]="'row'">
                <div [ngClass]="  {'register_success' : statusmessage.indexOf('success') != -1,'register_error':statusmessage.indexOf('success') == -1,'errormsgblock':true,'col-sm-6':true}">
                    {{statusmessage}}
                </div>
                <div [ngClass]="'col-sm-6'">
                    <button id="close" type="button" mat-raised-button (click)="closeFormGroupDirective()">Close</button>
                    <button id="register" type="button" mat-raised-button [ngClass]="'registerBtn'" (click)="registerFormGroupDirective()">Register</button>
                </div>
            </div>
        </mat-card-actions>
    </form>
</mat-card>