<div [ngClass]="'pagetitle row'">
    <div [ngClass]="'col-sm-2'">
        <span [ngClass]="'pagetitletext'">{{pagetitle}}</span>
    </div>
    <div [ngClass]="'col-sm-7'">
        <span [ngClass]="'tooglebtn'">
            <label *ngIf="ifautorefreshlogtable">Data will automatically refresh for each 30 seconds..
                &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>Toggle AutoRefresh:&nbsp;&nbsp;</label>
            <mat-slide-toggle [(ngModel)]="autorefreshlogtable" (change)="toggelautorefreshTable()"></mat-slide-toggle>
        </span>
    </div>
    <div [ngClass]="'col-sm-1'">
        <button id="delete" mat-icon-button (click)="onDeleteClick(selection.hasValue())" >
            <i class="material-icons ">
                delete_forever
            </i>
        </button>
    </div>
    <div [ngClass]="'col-sm-2'">
        <mat-form-field [floatLabel]="'never'" [ngClass]="'tablesearch'" [ngStyle]="{'top': '-11px','right':'50px'}">
            <input id="filter" matInput placeholder="search" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>
<hr>
<div [ngClass]="'table-container mat-elevation-z8'">
    <table mat-table [ngClass]="'customtable'" [dataSource]="dataSource" matSort     matSortActive="starttime" matSortDirection="desc">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef [ngClass]="'customtableheader'" [ngStyle]="{'width':'8%', 'padding-top':'10px'}" style='vertical-align: baseline'>
                <ng-container>
                    <mat-checkbox (change)="$event ? masterToggle() : null " [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tablecheckbox'">
                    </mat-checkbox>
                </ng-container>
            </th>
            <td mat-cell *matCellDef="let row" [ngClass]="'customtablecell'" [ngStyle]="{'padding-top':'10px'}">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [ngClass]="'tablecheckbox'">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container *ngFor="let column of columns" matColumnDef="{{column.columnDef}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="column.dispcolumn" [ngClass]="'customtableheader'"
                [ngStyle]="{'width':column.width}"> {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row" [hidden]="column.dispcolumn" [ngClass]="{ 'success': column.cell(row) === 'success' ,'failed': column.cell(row) === 'failed' ,'ongoing':column.cell(row) === 'ongoing','deployed':column.cell(row) === 'deployed', 'partialsuccess':column.cell(row) === 'partial success'}">
                {{column.cell(row)}} </td>
        </ng-container>
        <ng-container matColumnDef="View">
            <th mat-header-cell *matHeaderCellDef [ngClass]="'customtableheader'" [ngStyle]="{'width':'10%'}"> View
            </th>
            <td mat-cell *matCellDef="let row" [ngClass]="'customtablecell'">
                <button mat-icon-button (click)="onViewClick(row)" class="editbutton">
                    <i class="material-icons ">
                        remove_red_eye
                    </i>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row [ngClass]="'customtableheader'" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row [ngClass]="'customtablerow'" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'highlight': selectedRowIndex == row.id,'success': row.username == 'admin'}"></tr>
    </table>
</div>
<mat-paginator [ngClass]="'custompaginator'" [pageSize]="10" [pageSizeOptions]="[5,10,20]"></mat-paginator>