<div [ngClass]="'configurationdiv'">
	<v1830-pagetitle [pagetitle]=pagetitle [refreshbtn]=refreshbtn [addbtn]=addbtn [searchbtn]=searchbtn
	 (RefreshClickFromPageHeader)="refreshClick()" (AddClickFromPageHeader)="onAddClick()"></v1830-pagetitle>
	<mat-card class="addeditblock" *ngIf="showform" [@slideInOut]>
		<mat-card-header>
			<mat-card-title [ngClass]="'matcustomcardtitle'">{{submitbuttonaction}} OVF</mat-card-title>
		</mat-card-header>
		<form [formGroup]="ovfform" #ovf="ngForm">
			<mat-card-content [ngClass]="'matcustomcardcontent'">
				<div class="row ">
					<div class="col-sm-3">
							<mat-form-field>
									<input id="name" matInput formControlName="name" placeholder="Name">
									<mat-hint>Can contain alphanumeric, dot(.),hyphen(-),underscore(_)</mat-hint>
									<mat-error *ngIf="(ovfform.get('name').touched || (ovfform.get('name').dirty ) && (ovfform.get('name').errors ))">
										<span *ngIf="ovfform.get('name').errors?.required">
											Required
										</span>
										<span *ngIf="(ovfform.get('name').errors?.pattern)">
											Please enter valid name
										</span>
									</mat-error>
								</mat-form-field>
						<span [ngClass]="'helpspan'" matTooltip="Name of the OVF">
							<i class="material-icons helpicon">
								info
							</i>
						</span>
					</div>
					<div class="col-sm-3">
						<mat-form-field>
							<mat-select id="product" formControlName="product" placeholder="Product">
								<mat-option *ngFor="let product of products" [value]="product.value">
									<span id={{product.viewValue}}>{{product.viewValue}}</span>
								</mat-option>

							</mat-select>
							<mat-error *ngIf="(ovfform.get('product').touched || (ovfform.get('product').dirty ) && (ovfform.get('product').errors ))">Required</mat-error>
						</mat-form-field>
						<span [ngClass]="'helpspan'" matTooltip="Product Type of the OVF">
							<i class="material-icons helpicon">
								info
							</i>
						</span>
					</div>
					<div class="col-sm-6">
						<mat-form-field [ngClass]="'urlfield'">
							<input id="url" matInput formControlName="url" placeholder="URL">
							<mat-error *ngIf="(ovfform.get('url').touched || (ovfform.get('url').dirty ) && (ovfform.get('url').errors ))">Required</mat-error>
						</mat-form-field>
						<span [ngClass]="'helpspan'" matTooltip="URL or Path to locate the OVF">
							<i class="material-icons helpicon">
								info
							</i>
						</span>
					</div>
				</div>
			</mat-card-content>
			<mat-card-actions [ngClass]="'matcustioncardaction'">
				<div class="row" [ngStyle]="{'margin-top': '22px'}">
					<div class="col-sm-9 errormsgblock">
						<mat-error [hidden]="hidevalidationerror">{{errormessage}}</mat-error>
					</div>
					<div class="col-sm-1">
						<button type="button" id="close" mat-raised-button (click)="closeFormGroupDirective()">Close</button>
					</div>
					<div class="col-sm-1">
						<button type="button" id="clear" mat-raised-button (click)="clearFormGroupDirective(clearbuttonaction)">{{clearbuttonaction}}</button>
					</div>
					<div class="col-sm-1">
						<button type="button" id="submit" mat-raised-button (click)="doAction()">{{submitbuttonaction}}</button>
					</div>
				</div>
			</mat-card-actions>
		</form>
	</mat-card>
	<v1830-table [columns]=columns [elements]="ovfs$ | async" (editClickFromTable)='onEditClick($event)'
	 (deleteClickFromTable)='onDelete($event)'></v1830-table>
</div>