.step1 {
  margin: 0px;
  width: 893px;
  padding-top: 2px;
  height: 341px;
  max-height: 341px;
  min-height: 341px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.position{
  line-height: 30px;
  padding: 8px
}
.customstepheader {
  padding-top: 3px;
  padding-bottom: 3px;
}
.addResourcefieldswidth {
  width: 180px !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(18, 65, 145) !important;
}

::ng-deep .mat-ripple-element {
  background: rgba(18, 65, 145, 0.1) !important;
}

.reviewlabel {
  font-size: 14px;
  font-weight: 600;
}
.reviewvalue {
  font-size: 14px;
}
.reviewheading{
  font-weight: 700;
  font-size: 15px;
  text-decoration: underline;
}
.actionrow {
  position: relative;
  top: 18px;
  right: 19px;
}
