<v1830-pagetitle [pagetitle]=pagetitle [refreshbtn]=refreshbtn [addbtn]=addbtn [searchbtn]=searchbtn (RefreshClickFromPageHeader)="refreshClick()"
    (AddClickFromPageHeader)="onAddClick()"></v1830-pagetitle>

<mat-card class="alignmentreset">
    <form [formGroup]="passwordform">
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput id="username" formControlName="username" placeholder="UserName">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput id="oldpass" formControlName="oldpass" [type]="hideOld ? 'password' : 'text'" placeholder="Current Password">
                    <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="oldpass.errors && (oldpass.dirty || oldpass.touched)">
                        <span [hidden]="!oldpass.errors.required">
                            Current Password is required!
                        </span>
                        <span [hidden]="!oldpass.errors.shouldBeEqual">
                            Current Password is incorrect!
                        </span>
                    </mat-error>
                    <mat-error *ngIf="oldpass.pending" class="custom-error">
                        Verifying your password..
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput id="newpass" formControlName="newpass" [type]="hideNew ? 'password' : 'text'" placeholder="New Password">
                    <mat-hint>Password must contain Atleast One uppercase, One lowercase, One non-alphabet either number or special
                        character with min length 8 and max length 25</mat-hint>
                    <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="newpass.invalid && (newpass.dirty || newpass.touched)">
                        <span *ngIf="newpass.errors['required']">
                            New Password is required!
                        </span>
                        <span *ngIf="newpass.errors.pattern">
                            Please enter valid password
                        </span>
                        <span *ngIf="newpass.errors?.ncompare">
                            Current Password and New Password should not be same!
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <input matInput id="confirmpass" formControlName="confirmpass" [type]="hideConf ? 'password' : 'text'" placeholder="Confirm Password">
                    <mat-icon matSuffix (click)="hideConf = !hideConf">{{hideConf ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="confirmpass.invalid && (confirmpass.dirty || confirmpass.touched)" class="custom-error">
                        <span *ngIf="confirmpass.errors['required']">
                            Confirm Password is required!
                        </span>
                        <span class="custom-error" *ngIf="confirmpass.errors['compare']">
                            Password does not match!
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" style="margin-top: 65px;">
            <div [ngClass]="  {'register_success' : statusmessage.indexOf('updated') != -1,'register_error':statusmessage.indexOf('updated') == -1,'errormsgblock':true,'col-sm-6':true}">
                {{statusmessage}}
            </div>
            <div class="col-sm-6">
                <button id="onResetCancel" type="button" mat-raised-button (click)="onResetCancel()">Clear</button>
                <button id="onResetSubmit" type="button" mat-raised-button (click)="onResetSubmit()">Reset Password</button>
            </div>
        </div>
    </form>
</mat-card>