<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'>
  <link rel="stylesheet" href="assets/wulfdist/css/jqx.base.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/wulfdist/css/wulf.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/wulfdist/css/wulf.flyout.min.css"/>
  <link href="assets/css/pink-bluegrey.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/hdd.css"/>
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>


  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->

</head>

<body>

  <app>
    <div class="loading-icon">
      <span class="icon icon-spinner icon-spinner-large"></span>
    </div>
  </app>
  <div class="maskloader" style="display: none;"></div>
  <script type="text/javascript" src="assets/wulfdist/js/dependencies/jquery.min.js"></script>
  <script type="text/javascript" src="assets/wulfdist/js/dependencies/jqxcore.js"></script>
  <script type="text/javascript" src="assets/wulfdist/js/dependencies/jqxdata.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxbuttons.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxscrollbar.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxmenu.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxcheckbox.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxlistbox.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxdropdownlist.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxgrid.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxgrid.edit.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxgrid.columnsresize.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxgrid.columnsreorder.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxgrid.selection.js"></script>
  <script src="assets/wulfdist/js/dependencies/jqxpanel.js"></script>
  <!-- <script src="assets/wulfdist/js/dependencies/jquery.mousewheel.min.js"></script>
  <script src="assets/wulfdist/js/dependencies/jquery.mCustomScrollbar.js"></script> -->
  <script src="assets/wulfdist/js/components/combobox-jqx.js"></script>
  <script src="assets/wulfdist/js/dependencies/bootstrap.min.js"></script>
  <script src="assets/wulfdist/js/wulf.min.js"></script>
  <!-- <script src="node_modules/chart.js/src/chart.js"></script> -->
  
  <!-- Scripts will be injected by webpack here -->
</body>
</html>
